* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;

  color: rgb(255, 0, 0);
  background-color: rgb(0, 0, 0);
}

/* Navbar - Mobile First */
nav {
  display: flex;
  flex-direction: column;
  background-color: #cfc0c0;
  padding: 15px;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

/* Desktop Navbar */
@media (min-width: 768px) {
  nav {
    flex-direction: row;
    gap: 30px;
  }
}

h1 {
  margin: 20px 0;
}


img {
  width: 300px;
  border-radius: 50px;
  margin-bottom: 50px;
}

video {
  width: 50vw;
  padding: 10px;
  background-color: rgb(34, 20, 118);
  margin-bottom: 20px;
}

video {
  width: 50vw;
  padding: 10px;
  background-color: green;
  margin-bottom: 20px;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th,
td {
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
  text-align: center;
}

th {
  background-color: gray;
}

/* Button */
/* Same background color as video */
button {
  border: none;
  padding: 12px 25px;
  background-color: green;
  color: white;
  cursor: pointer;
  margin: 20px;
  transition: 0.3s;
}

button:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

/* Grid - Desktop First */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.box {
  border: 1px solid black;
  background-color: lightgray;
  padding: 20px;
  text-align: center;
}

/* Mobile Grid */
@media (max-width: 767px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}